*,
*::before,
*::after{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.headerSection{
    display: flex;
    align-items: center;
    justify-content: space-around;
    background: rgb(255, 255, 255);
    padding: 20px 20px;
    box-shadow: 0px 6px 8px rgba(0, 0, 0, 0.215);
    position: sticky;
    top: 0;
    left: 0;
    z-index: 1000;
}

.logo{
    display: flex;
    align-items: center;
    gap: 15px;
}

.logo h2{
    font-weight: 400;
    font-size: 29px;
}

.logoIcon{
    height: 32px;
    width: 34px;
    color: green;
}

.nav ul{
    display: flex;
    gap: 30px;
}

.nav ul li{
    list-style: none;
}

.nav ul li a{
    text-decoration: none;
    color: black;
    font-size: 19px;
    transition: 0.2s ease;
}

.nav ul li a:hover{
    color: green;
}

@media (max-width: 1200px){
    .headerSection{
        padding: 20px;
    }

    .nav ul{
        gap: 20px;
    }
}

@media (max-width: 992px){
    .headerSection{
        flex-direction: column;
        gap: 20px;
    }

    .logo h2{
        font-size: 26px;
    }

    .nav ul{
        flex-wrap: wrap;
        justify-content: center;
        gap: 20px;
    }
}

@media (max-width: 768px){
    .headerSection{
        padding: 15px;
    }

    .logo{
        gap: 10px;
    }

    .logo h2{
        font-size: 22px;
        text-align: center;
    }

    .logoIcon{
        width: 28px;
        height: 28px;
    }

    .nav ul{
        gap: 15px;
    }

    .nav ul li a{
        font-size: 17px;
    }
}


@media (max-width: 480px){
    .headerSection{
        gap: 15px;
    }

    .logo{
        flex-direction: column;
        text-align: center;
    }

    .logo h2{
        font-size: 20px;
    }

    .nav ul{
        gap: 12px;
    }

    .nav ul li a{
        font-size: 16px;
    }
}